<!doctype html>
<html lang="en">
  <head>
    <!-- Meta & Boring stuff -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <!-- Styles -->
    <% if (process.env.NODE_ENV === 'development') { %>
      <script src="https://cdn.jsdelivr.net/npm/react-scan/dist/auto.global.js"></script>
    <% } %>
    <link data-corecss="true" href="./styles/core.css" type="text/css" rel="stylesheet">
    <link data-theme="true" href="./styles/themes/fancy.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="root" id="root"></div>
  </body>
</html>
